<!--Sponsor Field-->
<div class="row field">
  <div class="small-3 columns">
    <%= f.label :sponsor, class: 'right inline' %>
  </div>
  <div class="small-7 columns">
    <%= f.text_field :sponsor, class: 'inline', placeholder: 'Legislation sponsor' %>
  </div>
  <div class="small-2 columns">
    <%= f.link_to_remove 'remove', class: 'tiny right inline alert button' %>
    </div>
</div>

<!--Add Legislation Field-->
<div class="row field">
  <div class="small-3 columns">
    <%= f.label :legislation_id, 'Select Legislation', class: 'right inline' %>
  </div>
  <div class="small-9 columns">
    <%= f.collection_select :legislation_id, Legislation.all, :id, :title %>
  </div>
</div>

<!--Vote Field-->
<div class="row field">
  <div class="small-3 columns">
    <%= f.label :vote, class: 'right inline' %>
  </div>
  <div class="small-9 columns">
    <%= f.text_field :vote, class: 'inline', placeholder: 'Legislation vote (ex. 3-8-0)' %>
  </div>
</div>

<!--Notes Field-->
<div class="row field">
  <div class="small-3 columns">
    <%= f.label :notes, class: 'right inline' %>
    </div>
  <div class="small-9 columns">
  <%= f.text_field :notes, placeholder: 'Type any notes on the legislation or folio item here.' %>
    </div>
</div>
