<%= simple_nested_form_for @meeting do |f| %>
  <% flash_errors_for @meeting %>

  <%= f.association :organization %>

  <div class="field">
    <%= f.label :date_and_time, 'Date and Time' %>
    <%= f.text_field :date_and_time, class:'datetimepicker', value: @meeting.datetimepicker_value %>
  </div>

  <%= f.input :location, class: 'geocomplete',
    input_html: { value: @meeting.location || Meeting::DEFAULT_LOCATION } %>

  <!--Orders of Business-->
  <fieldset>
    <legend>Orders of Business</legend>
    <%= f.fields_for :meeting_items do |builder| %>
      <%= render 'meeting_item_form', f: builder %>
    <% end %>
    <%= f.link_to_add '+ add an order of business', :meeting_items, class: 'small button expand' %>
  </fieldset>

  <!--Bill Docket-->
  <fieldset>
    <legend>Set Bill Docket</legend>
    <%= f.association :bills, as: :check_boxes, label: false, label_method: :collection_text_method %>
  </fieldset>

  <%= f.button :submit, class: 'expand' %>
<% end %>
