<!--Action Buttons-->
<div class="row">
  <%= link_to '+ New Meeting', new_meeting_path, class: 'right admin button' %>
</div>


<!--Listed Meetings-->
<div class="row">
  <h2>All Meetings</h2>

  <!--Admin Panel-->
  <div class="admin panel">
    <h4>Start Meeting (Admin):</h4>
    <ul>
      <% upcoming_meetings.each do |meeting| %>
          <li><%= link_to meeting.name, start_meeting_path(meeting) %></li>
      <% end %>
    </ul>
  </div>

  <% @grouped_meetings.each do |organization,meetings| %>
      <br />
      <table  width="100%" role="grid" summary="Listed meetings for <%= organization.name %>.">
        <caption><%= organization.name %></caption>
        <thead>
        <tr>
          <th>Organization</th>
          <th>Date</th>
          <th>Meeting Details</th>
          <th>Agendas</th>
          <th>Minutes</th>
          <th colspan="3", class="admin">Admin</th>
        </tr>
        </thead>

        <tbody>
        <% meetings.each do |meeting| %>
            <tr>
              <td><%= meeting.organization.name %></td>
              <td><%= meeting.date.to_formatted_s(:long) %></td>
              <td><%= link_to 'Details', meeting %></td>
              <td>
                <%= link_to 'html', agenda_path(meeting) %><br />
                <%= link_to 'pdf', agenda_path(meeting, format: 'pdf') %>
              </td>
              <td>
                <% if meeting.has_happened? %>
                    <%= link_to 'html', minutes_path(meeting) %><br />
                    <%= link_to 'pdf', minutes_path(meeting, format: 'pdf') %>
                <% else %>
                    Upcoming...
                <% end %>
              </td>
              <td class='admin'><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
              <td class='admin'><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
