<!--Action Buttons-->
<% if admin_signed_in? %>
    <div class="row">
      <%= link_to '+ New Meeting', new_meeting_path, class: 'right admin button' %>
    </div>
<% end %>


<!--Listed Meetings-->
<div class="row">
  <h2>All Meetings</h2>

  <!--Admin Panel-->
  <% if admin_signed_in? %>
      <div class="admin panel">
        <h4>Start Meeting (Admin):</h4>
        <ul>
          <% Meeting.upcoming.each do |meeting| %>
              <li><%= link_to meeting.name, start_meeting_path(meeting) %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <% @grouped_meetings.each do |organization,meetings| %>
      <br />
      <table role="grid" summary="Listed meetings for <%= organization.name %>.">
        <caption><%= organization.name %></caption>
        <thead>
        <tr>
          <th>Organization</th>
          <th>Date</th>
          <th>Meeting Details</th>
          <th>Agendas</th>
          <th>Minutes</th>
          <% if admin_signed_in? %>
              <th colspan="2", class="admin">Admin</th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% meetings.each do |meeting| %>
            <tr>
              <td><%= meeting.organization.name %></td>
              <td><%= meeting.date.to_formatted_s(:long) %></td>
              <td><%= link_to 'Details', meeting %>  (<%= pluralize meeting.bills.count, 'item' %>)</td>
              <td>
                <%= link_to 'html', agenda_path(meeting) %><br />
                <%= link_to 'pdf', agenda_path(meeting, format: 'pdf') %>
              </td>
              <td>
                <% if meeting.happened? %>
                    <%= link_to 'html', minutes_path(meeting) %><br />
                    <%= link_to 'pdf', minutes_path(meeting, format: 'pdf') %>
                <% else %>
                    Upcoming...
                <% end %>
              </td>
              <% if admin_signed_in? %>
                  <td class='admin'><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                  <td class='admin'><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
