<h2><%= @meeting.organization.name %>: <%= @meeting.date %></h2>

<%= link_to 'Agenda', agenda_path(@meeting) %>
(<%= link_to 'pdf', agenda_path(@meeting, format: 'pdf') %>)

<h3>Listing Associated Legislation</h3>

<ul>
  <% @meeting.folios.each do |folio| %>
      <li><%= short_title folio.legislation %> (<%= link_to 'page', legislation_path(folio.legislation) %>)(<%= link_to 'pdf', legislation_path(folio.legislation, format: 'pdf') %>)</li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
