<h2><%= @meeting.organization.name %>: <%= @meeting.date %></h2>

<%= link_to 'Agenda', agenda_path(@meeting), class: 'small button' %>
(<%= link_to 'pdf', agenda_path(@meeting, format: 'pdf') %>)

<% if @meeting.has_happened? %>
    <br />
    <%= link_to 'Minutes', minutes_path(@meeting), class: 'small button' %>
    (<%= link_to 'pdf', minutes_path(@meeting, format: 'pdf') %>)
<% end %>

<h3>Listing Associated Legislation</h3>

<ul>
  <% @meeting.grouped_legislations.each do |legislation_type, legislations| %>
      <h4><%= pluralize legislations.count, legislation_type %></h4>
      <% legislations.each do |legislation| %>
        <li><%= short_title legislation %> | <%= link_to 'html', legislation %> | <%= link_to 'pdf', legislation_path(legislation, format: 'pdf') %></li>
          <% end %>
  <% end %>
</ul>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
