<div class="row">
  <!--Buttons-->
</div>

<h2>Meeting in Progress</h2>

<p>Meeting docket: <%= pluralize @meeting.bills.count, 'bill' %></p>

<%= form_for @meeting do |f| %>
    <% @meeting.grouped_folios.each do |legislation_type, folios| %>
        <h3><%= pluralize folios.count, legislation_type %></h3>
        <%= f.fields_for :folios, folios do |fa| %>
            <fieldset>
              <legend><%= fa.object.bill.legislative_numbering %></legend>
              <div class="row field">
                <div class='small-2 columns'><%= fa.label :sponsor %></div>
                <div class='small-10 columns'><%= fa.text_field :sponsor, placeholder: 'Bill Sponsor' %></div>
              </div>
              <div class="row field">
                <div class='small-2 columns'><%= label_tag 'Title' %></div>
                <div class='small-10 columns'><p><%= fa.object.bill.title %></p></div>
              </div>
              <div class="row field">
                <div class='small-2 columns'><%= fa.label :notes %></div>
                <div class='small-10 columns'><%= fa.text_area :notes, placeholder: 'Type meeting notes here', rows:5 %></div>
              </div>
              <div class="row field">
                <div class='small-2 columns'><%= fa.label :vote %></div>
                <div class='small-10 columns'><%= fa.text_field :vote, placeholder: 'Final Vote' %></div>
              </div>
            </fieldset>
        <% end %>
    <% end %>
    <%= f.submit 'Finish Meeting', class: 'button expand' %>
<% end %>