<h2>Meeting in Progress</h2>

<p>Meeting docket: <%= pluralize @meeting.legislations.count, 'legislation' %></p>

<%= form_for @meeting do |f| %>

    <%= f.fields_for :folios do |fa| %>
        <fieldset>
          <legend><%= fa.object.legislation.legislative_numbering %></legend>
          <div class="row field">
            <div class='small-2 columns'><%= fa.label :sponsor %></div>
            <div class='small-10 columns'><%= fa.text_field :sponsor, placeholder: 'Legislation Sponsor' %></div>
          </div>
          <div class="row field">
            <div class='small-2 columns'><%= label_tag 'Title' %></div>
            <div class='small-10 columns'><p><%= fa.object.legislation.title %></p></div>
          </div>
          <div class="row field">
            <div class='small-2 columns'><%= fa.label :notes %></div>
            <div class='small-10 columns'><%= fa.text_area :notes, placeholder: 'Type meeting notes here', rows:5 %></div>
          </div>
          <div class="row field">
            <div class='small-2 columns'><%= fa.label :vote %></div>
            <div class='small-10 columns'><%= fa.text_field :vote, placeholder: 'Final Vote' %></div>
          </div>
        </fieldset>
    <% end %>
    <%= f.submit 'Finish Meeting', class: 'button expand' %>
<% end %>