<div class="row">
  <%= link_to '+ New Person', new_person_path, class: 'right admin button' %>
</div>


<h2>Council Representatives</h2>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Committees</th>
      <th></th>
      <th colspan="2" class="admin">Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first %></td>
        <td><%= person.last %></td>
        <td><%= person.organizations.map(&:name).join(', ') %></td>
        <td><%= link_to 'Show', person %></td>
        <td class="admin"><%= link_to 'Edit', edit_person_path(person) %></td>
        <td class="admin"><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Other Site Members</h3>
