<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @person.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @person.last %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @person.bio %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
