<%= form_for(@docket) do |f| %>
  <% if @docket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@docket.errors.count, "error") %> prohibited this docket from being saved:</h2>

      <ul>
      <% @docket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :meeting_id %>

    <p>At the moment, there is nothing to edit on the docket. Soon you will be able to add and remove snippets with legislation!</p>

  <div class="actions">
    <%= f.submit class: 'button expand' %>
  </div>
<% end %>
