<div class="row">
<%= link_to '+ New Status', new_status_path, class: 'right admin button' %>
</div>

<h2>Listing Statuses</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Show</th>
      <th colspan="2" class="admin">Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.title %></td>
        <td><%= link_to 'Show', status %></td>
        <td class="admin"><%= link_to 'Edit', edit_status_path(status) %></td>
        <td class="admin"><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
