<!--Add Attachment Field-->
<div class="row field">
  <div class="small-3 columns">
    <%= f.label :file, 'Add Attachment', class: 'right' %>
  </div>
  <div class="small-5 columns">
    <%= f.file_field :file %>
  </div>
  <div class="small-4 columns">
    <%= f.link_to_remove 'remove', class: 'right alert tiny button' %>
  </div>
</div>

<!--Title Field-->
<div class="row field">
  <div class="small-3 columns">
    <%= f.label :title, 'Title (optional)', class: 'right inline' %>
  </div>
  <div class="small-9 columns">
    <%= f.text_field :title, class: 'inline', placeholder: 'file title' %>
  </div>
</div>

<!--Description Field-->
<div class="row field">
  <div class="small-3 columns">
    <%= f.label :description, 'Description (optional)', class: 'right inline' %>
  </div>
  <div class="small-9 columns">
    <%= f.text_field :description, class: 'inline', placeholder: 'brief file description' %>
  </div>
</div>
