<div id="diff-modal<%=version.id%>" class="modal bottom-sheet">
  <div class="modal-content">
    <h4><%= version.event.capitalize %> Details</h4>
    <p class="lead">For version <%= "#{version.index+1}/#{version_count}" || "?" %> of <i><%= bill.title %></i></p>
    <% bill.diff_attributes(version).each do |attribute| %>
      <h5><%= attribute.capitalize %></h5>
      <% old,new = version.changeset[attribute] %>
      <%= diff(old,new) %>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
