<%= nested_form_for(@bill) do |f| %>
    <fieldset>
      <legend>Please enter legislation details below</legend>

      <% if @bill.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@bill.errors.count, 'error') %> prohibited this legislation from being saved:</h2>

            <ul>
              <% @bill.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <!--Bill Type Select (Resolution or Ordinance?)-->
      <div class="field">
        <%= f.label :legislation_type %>
        <%= f.select :legislation_type, Bill::LEGISLATION_TYPES %>
      </div>

      <!--Full Title Field-->
      <div class="field">
        <%= f.label :title, 'Full Title' %>
        <%= f.text_field :title, placeholder: 'Full bill title' %>
      </div>

      <!--Short Title Field-->
      <div class="field">
        <%= f.label :short_title, 'Short Title' %>
        <%= f.text_field :short_title, placeholder: 'Shorter title for searches and listings' %>
      </div>

      <!--Preamble-->
      <fieldset>
        <legend>Preamble</legend>
        <%= f.fields_for :recitals do |builder| %>
            <%= render 'recital_form', f: builder %>
        <% end %>
        <%= f.link_to_add '+ add a recital clause', :recitals, class: 'small button expand' %>
        <div class="field">
          <%= f.label :enacting_formula %>
          <%= f.text_field :enacting_formula,   value: 'Let it be hereby resolved that',
                                                placeholder: 'Enacting formula (ex. "Let it be hereby resolved that")' %>
        </div>
      </fieldset>

      <!--Main Content-->
      <fieldset>
        <legend>Main Content</legend>
        <%= f.fields_for :sections do |builder| %>
            <%= render 'bills/levels_forms/section_form', f: builder %>
        <% end %>
        <%= f.link_to_add '+ add a section', :sections, class: 'small button expand' %>
      </fieldset>

      <!--Bill Appendices-->
      <fieldset>
        <legend>Appendices</legend>
        <%= f.fields_for :attachments do |builder| %>
            <%= render 'attachment_form', f: builder %>
        <% end %>
        <%= f.link_to_add '+ add an attachment', :attachments, class: 'small button expand' %>
      </fieldset>

      <!--Submit Form-->
      <div class="actions">
        <%= f.submit class:'expand button' %>
      </div>
    </fieldset>
<% end %>
