<% content_for :title, "#{@bill.numbering}" %>

<!-- Bill Options -->
<div class="row">
  <div class="right">
    <!-- Action Buttons -->
    <%= link_to 'All', bills_path, class:'waves-effect waves-light btn' %>
    <% if user_signed_in? %>
        <span class="admin">
          <%= link_to 'Edit', edit_bill_path(@bill), class:'waves-effect waves-light admin btn' %>
          <%= link_to('Delete', bill_path,
                          method: 'delete', class: 'admin alert waves-effect waves-light btn',
                          data: { confirm: 'Are you sure you want to delete this?'}) %>
      </span>
    <% end %>

    <!-- Download PDF Button -->
    <%= link_to material_icon('arrow_drop_down', align: 'right') + 'Download PDF', '#', class:'dropdown-button btn', :'data-activates' => 'download-pdf-options' %>
    <ul id='download-pdf-options' class='dropdown-content'>
      <!--Bill with attachments-->
      <li><%= link_to 'with attachments',
          bill_path(id: @bill.id, format: 'pdf',
                    attach: { attachments: true }) %></li>
      <!--Bill only-->
      <li><%= link_to 'bill only',
        bill_path(id: @bill.id, format: 'pdf',
                  attach: { false: false }) %></li>
    </ul>
  </div>
</div>



<div class="row">

  <!-- Bill Title -->
  <h4><%= @bill.numbering %></h4>
  <p class="flow-text"><%= @bill.title %></p><br />

  <!---- BEGIN CONTENT TABS ---->
  <div class="row">

    <!--Tab headers-->
    <div class="col s12">
      <ul class="tabs blue-grey lighten-5">
        <li class="tab col s3"><a class="active" href="#fulltext_tab">Full Text</a></li>
        <li class="tab col s3 <%= "disabled" if @bill.attachments.empty? %>"><a href="#attachments_tab">Attachments (<%= @bill.attachments.count %>)</a></li>
        <li class="tab col s3"><a href="#history_tab">Vote History</a></li>
        <li class="tab col s3"><a href="#changelog_tab">Changelog</a></li>
      </ul>
    </div>

    <!--Bill Full Text-->
    <div class="col s12" id="fulltext_tab">
      <%= render 'shared/bill_sections', bill: @bill %>
    </div>

    <!-- Attachment List -->
    <div class="col s12" id="attachments_tab">
      <h4>Attached Material:</h4>
      <dl>
        <% @bill.attachments.each do |attachment| %>
            <dt><%= link_to file_name(attachment), attachment.file.url %></dt>
            <dd><%= attachment.description %></dd>
        <% end %>
      </dl>
    </div>

    <!-- History List -->
    <div class="col s12" id="history_tab">
      <h4>Vote History</h4>
      <table>
        <thead>
        <tr>
          <th>Meeting</th>
          <th>Link(s)</th>
          <th>Vote Count</th>
          <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <% @bill.questions.each do |question| %>
        <% meeting = question.motion.meeting %>
            <tr>
              <td><%= link_to meeting.name, meeting %></td>
              <td><%= link_to 'Agenda', agenda_path(meeting)%>
                <% if meeting.happened? %>
                    | <%= link_to 'Minutes', minutes_path(meeting) %>
                <% end %></td>
              <td><%= print_votes(question) %></td>
              <td><%= question.result %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <!--Changelog Table-->
    <div class="content" id="changelog_tab">
      <p>
      <table width="100%" role="grid" summary="All changes (creates, updates, and destroys) to the legislation in question, including the attributes changed, the time changed, and links to a detailed diff and rollback button.">
        <caption>Legislation Changelog</caption>
        <thead>
        <tr>
          <th>Action</th>
          <th>Changed Attributes</th>
          <th>Time</th>
          <th>&Delta;</th>
          <% if user_signed_in? %>
              <th class="admin">Rollback</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <!--Diff Modal Cache-->
        <% cache [changelog_cache_name(@bill), @versions.last] do %>
            <% @versions.each do |version| %>
                <tr>
                  <td><%= version.event %></td>
                  <td><%= @bill.list_changed_attributes version %></td>
                  <td><%= version.created_at.to_formatted_s(:long_ordinal) %></td>
                  <td><a data-no-turbolink href="#diff-modal<%=version.id%>" class="btn-flat modal-trigger">View Diff</a></td>
                  <% if user_signed_in? %>
                      <td class="admin"><%= link_to 'Rollback', revert_version_path(id: version.id),
                                                    method: :post %></td>
                  <% end %>
                  <%= render 'diff_modal', version: version,
                             bill: @bill,
                             version_count: @versions.count %>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
      </p>
    </div>
  </div>
  <!---- END CONTENT TABS ---->
</div>
