<%= nested_form_for(@legislation) do |f| %>
    <fieldset>
      <legend>Please enter legislation details below</legend>

      <% if @legislation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@legislation.errors.count, "error") %> prohibited this legislation from being saved:</h2>

            <ul>
              <% @legislation.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :legislation_type %>
        <%= f.select :legislation_type, Legislation::LEGISLATION_TYPES %>
      </div>

      <div class="field">
        <%= f.label :title, 'Full Title' %>
        <%= f.text_field :title, placeholder: 'Full legislation title' %>
      </div>

      <div class="field">
          <%= f.label :short_title, 'Short Title (optional)' %>
          <%= f.text_field :short_title, placeholder: 'Shorter title for searches and listings' %>
      </div>

      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, class:'jqte-test' %>
      </div>

      <fieldset>
        <legend>Attachments</legend>
        <%= f.fields_for :attachments do |builder| %>
            <%= render 'attachment_form', f: builder %>
        <% end %>
        <%= f.link_to_add '+ add an attachment', :attachments, class: 'small button expand' %>
      </fieldset>

      <div class="actions">
        <%= f.submit 'Submit', class:'expand button' %>
      </div>
    </fieldset>
<% end %>
