<!--Legislation Blurb:
        cache updates whenever an update to legislation (or dependents)
        is detected-->
<% cache ['legislation', legislation] do %>

    <!--Title and Subtitle-->
    <h4>
      <%= link_to short_title(legislation), legislation %>
      <small><%= meta_header legislation %></small>
    </h4>

    <!--Body-->
    <p><%= body legislation %></p>

    <!-- Legislation Options -->
    <div class="button-bar">
      <!-- Download PDF Button -->
      <ul class="button-group">
        <li><%= link_to 'PDF', legislation_path(id: legislation.id, format: 'pdf'),
                        class:'tiny button' %></li>
      </ul>
      <!-- Action Buttons -->
      <ul class="button-group">
        <li><%= link_to 'Show', legislation, class:'tiny button' %></li>
        <li><%= link_to 'Edit', edit_legislation_path(legislation), class:'tiny button' %></li>
        <li><%= link_to('Delete', legislation,
                        method: "delete", class: 'tiny alert button',
                        data: { confirm: 'Are you sure you want to delete this?'}) %></li>
      </ul>
    </div>

<% end %>