<div class="row">
  <div class="small-12 columns">

    <%= link_to "Download PDF",
                legislation_path(id: @legislation.id, format: 'pdf'),
                class: 'right button' %>

    <h2><%= @legislation.title.titleize %><br />
      <small><%= @legislation.created_at_time %></small>
    </h2>

    <!-- Legislation -->
    <div class="panel">
      <%= @legislation.body.html_safe %>
      <!--todo: how does this impact security?-->
    </div>


    <!-- Attachment List -->
    <% unless @legislation.attachments.empty? %>
        <h4>Attached Material:</h4>
        <dl>
          <% @legislation.attachments.each do |attachment| %>
              <dt><%= link_to file_name(attachment), attachment.file.url %></dt>
              <dd><%= attachment.description %></dd>
          <% end %>
        </dl>
    <% end %>


    <!-- Action Buttons -->
    <%= link_to 'Edit', edit_legislation_path(@legislation), class:'small button' %>
    <%= link_to 'Back', legislations_path, class:'small button' %>
    <%= link_to('Delete', legislation_path,
                method: "delete", class: 'small alert button',
                data: { confirm: 'Are you sure you want to delete this?'}) %>


    <br /><hr />

    <!-- Changelog Table -->
    <p>
    <table width="100%" role="grid" summary="All changes (creates, updates, and destroys) to the legislation in question, including the attributes changed, the time changed, and links to a detailed diff and rollback button.">
      <caption>Legislation Changelog</caption>
      <thead>
      <tr>
        <th>Action</th>
        <th>Changed Attributes</th>
        <th>Time</th>
        <th>&Delta;</th>
        <th>Rollback</th>
      </tr>
      </thead>
      <tbody>
      <% @versions.each do |version| %>
          <tr>
            <td><%= version.event %></td>
            <td><%= @legislation.list_changed_attributes version %></td>
            <td><%= version.created_at.strftime("%-l:%M%P on %m/%d/%y") %></td>
            <td><a href="#" data-no-turbolink data-reveal-id="diffModal<%=version.id%>">View Diff</a></td>
            <td><%= link_to 'Rollback', revert_version_path(id: version.id),
                            method: :post %></td>
            <%= render 'application/diff_modal', version: version,
                       legislation: @legislation,
                       version_count: @version_count %>
          </tr>
      <% end %>
      </tbody>
    </table>
    </p>
  </div>
</div>
