<!--Add Level Field-->
<fieldset>
  <div class="row field">
    <div class="small-12 columns">
      <b>Paragraph (1.)</b>
      <%= f.link_to_remove 'remove', class: 'right alert tiny button' %>
    </div>
  </div>

  <!-- content -->
  <%= f.input :text, label: 'Paragraph Content (no subparagraphs)',
              placeholder: 'only shown if there are no subparagraphs; otherwise, use chapeau and continuation.' %>

  <%= f.input :chapeau, label: 'Chapeau (content before subparagraphs)' %>
  <%= f.input :continuation, label: 'Continuation (content after subparagraphs)' %>

  <!-- subparagraphs -->
  <%= f.fields_for :sub_paragraphs do |builder| %>
      <%= render 'bills/levels_forms/sub_paragraphs_form', f: builder %>
  <% end %>
  <%= f.link_to_add '+ add a subparagraph', :sub_paragraphs, class: 'small right button' %>
</fieldset>
