<!--Add Level Field-->
<fieldset>
  <div class="row field">
    <div class="small-12 columns">
      <b>Section (I.)</b>
      <%= f.link_to_remove 'remove', class: 'right alert tiny button' %>
    </div>
  </div>

  <!-- headings -->
  <%= f.input :heading, placeholder: 'heading (optional)' %>
  <%= f.input :subheading, placeholder: 'subheading (optional)' %>

  <!-- content -->
  <%= f.input :text, label: 'Section Content (no subsections)',
              placeholder: 'only shown if there are no sub-sections; otherwise, use chapeau and continuation.'  %>

  <%= f.input :chapeau, label: 'Chapeau (content before subsections)' %>
  <%= f.input :continuation, label: 'Continuation (content after subsections)' %>

  <!-- subsections -->
  <%= f.fields_for :sub_sections do |builder| %>
      <%= render 'bills/levels_forms/sub_sections_form', f: builder %>
  <% end %>
  <%= f.link_to_add '+ add a subsection', :sub_sections, class: 'small right button' %>
</fieldset>
