<div class="section">
  <h4>Log in</h4>
</div>

<div class="section">
  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <%= f.input :email, autofocus: true %>
    <%= f.input :password, autocomplete: 'off' %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, as: :boolean %>
    <% end -%>

    <%= f.button :submit, 'Log in' %>
  <% end %>
</div>

<%= render 'devise/shared/links' %>
