<div class="row">
<%= link_to '+ New Organization', new_organization_path, class: 'right admin button' %>
</div>

<h2>Listing Organizations</h2>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Name</th>
      <th></th>
      <th colspan="2" class="admin">Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= Organization::LEVELS[organization.level] + ", Lvl.#{organization.level}" %></td>
        <td><%= organization.name %></td>
        <td><%= link_to 'Show', organization %></td>
        <td class="admin"><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td class="admin"><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
