<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Troy City Tracker', :root %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="admin has-dropdown show-for-medium-down">
        <a href="#">Go to...</a>
        <ul class="dropdown">
          <li><%= link_to '...Organizations', organizations_path %></li>
          <li><%= link_to '...Meetings', meetings_path %></li>
          <li><%= link_to '...People', people_path %></li>
          <li><%= link_to '...Bills', bills_path %></li>
        </ul>
      </li>
      <% if admin_signed_in? %>
          <li class="admin has-dropdown">
            <a href="#">Create New...</a>
            <ul class="dropdown">
              <li><%= link_to '...Organization', new_organization_path %></li>
              <li><%= link_to '...Meeting', new_meeting_path %></li>
              <li><%= link_to '...Person', new_person_path %></li>
              <li><%= link_to '...Bill', new_bill_path %></li>
            </ul>
          </li>
      <% end %>
      <% if admin_signed_in? %>
          <li class='' id="admin-toggle"><a href="#">Toggle Public View</a></li>
      <% end %>
      <li class=''>
        <% if admin_signed_in? %>
            <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %>
        <% else %>
            <%= link_to 'Sign In', new_admin_session_path %>
        <% end %>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <!--<ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>-->
  </section>
</nav>