<% if flash %>
    <% flash.each_with_index do |(message_type, message), index| %>
        <div id="mainAlert<%= index %>"
             data-alert
             class="<%= message_type %> flash-msg card-panel"
             tabindex="0"
             aria-live="assertive"
             role="dialogalert">
             <div class="container">
               <%= notice_icon message_type %><%= message %>

              <%= link_to material_icon('close'), '', :'aria-label' => 'Close Alert', 
                tabindex: 0,
                class: 'close right' %>
             </div>
             </div>
    <% end %>
<% end %>
