<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Troy City Council | <%= content_for?(:title) ? yield(:title) : 'Legislative Twitter' %></title>

    <%= render 'touch_icons' %>

    <%= stylesheet_link_tag    'application' %>
    <!--For GeoComplete-->
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' %>
    <!--For Foundation-->
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!--Top Navigation Bar-->
    <!--<div class="row">-->
      <%#= render 'banner' %>
      <%= render 'navbar' %>
    <!--</div>-->


    <div class="row">
      <!-- Right Content -->
      <div class="large-9 push-3 columns">
        <%= render 'notice' %>
        <%= yield %>
      </div>

      <!-- Left Sidenav -->
      <%= render 'sidenav' %>

    </div>



    <!-- Footer -->
    <%= render 'footer' %>


  </body>
</html>
