<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= page_title yield(:title) %></title>

  <%= render 'layouts/touch_icons' %>

  <%= stylesheet_link_tag    'application' %>
  <!--For GeoComplete-->
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' %>
  <!--For Foundation-->
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="row">
  <%= render 'layouts/navbar' %>
</div>

<div class="row">
  <%= render 'layouts/sidenav' %>
  <div class="large-9 columns">
    <%= render 'layouts/notice' %>
    <%= yield %>
  </div>

</div>

<div class="row show-for-medium-down">
  <%= render 'layouts/search' %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
